Successfully created new resource:
<p>
<b>Name:</b> <%= person.name %>
<br>
<b>Summary:</b> <%= person.summary %>
<br>
<b>Category:</b> <%= person.category %>
<br>
<b>Address:</b> <%= person.address %>
<br>
<b>Website:</b> <%= person.website %>
<br>
<b>Latitude:</b> <%= person.lat %>
<br>
<b>Longitude:</b> <%= person.lon %>
<br>
<b>Phone:</b> <%= person.phonenumber %>
<br>
<b>Spotify:</b> <%= person.isSpotify %>
<p>
<a href="/">Create New Resource</a>
<p>
<a href="/all">Show All</a>