Successfully created new person:
<p>
<b>Name:</b> <%= person.name %>
<br>
<b>Username:</b> <%= person.username %>
<br>
<b>Account Number:</b> <%= person.accountNum %>
<br>
<b>Mental health score:</b> <%= person.mentalHealth %>
<br>
<b>Stress score:</b> <%= person.stress %>
<br>
<b>Physical health score:</b> <%= person.physicalHealth %>
<br>
<b>Community:</b> <%= person.community %>
<p>
<a href="/">Create New Person</a>
<p>
<a href="/all">Show All</a>